/* DraggableItemView.module.css */
.item {
  position: relative; 
  min-width: 20px;        /*Magic numbering */
  min-height: 20px;     /*Magic numbering */
  max-width: 40px;    /*Magic numbering */
  padding: 10px;      
  z-index: 10;        /* to float above other siblings */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box; /* ensure padding included in size */
}
.slotItemOverlay .item {
  width: 100%;
  height: 100%;
  margin: 0;           /* remove offset */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hovered {
  transform: scale(1.1);         
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* subtle shadow */
  cursor: grab;
}